html,
body {
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-wrapper {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button {
  height: 50px;
  font-size: 25px;
  width: 100px;
  border: 2px solid gray;
  cursor: pointer;
}

button:focus {
  outline: none;
}

#start-btn {
  margin-right: 120px;
}

.grid {
  border: 2px solid gray;
}
