html,
body {
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-wrapper {
}

button {
  height: 50px;
  font-size: 25px;
  width: 100px;
  border: 2px solid gray;
}
